<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<title>WELCOME</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container text-center">
		<h1>Welcome to TheBank!!! </h1>
		<h3>
			<a th:href="/@{/users-data}">List of Users</a>
		</h3>
		<h3>
			<a th:href="/@{/register}">Register</a>
		</h3>
		<h3>
			<a th:href="/@{/login}">Login</a>
		</h3>
	</div>

</body>
</html>